
.producto {
    max-width: 30%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}
.boton-agregar {
    background-color: red;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    border: none;
    .boton-agregar:hover {
        cursor: pointer;
    }
    .boton-agregar:focus {
        outline: none;
    }
}

